<% cache position do %>
  <%= breadcrumbs(Position, position) %>
  <div class="row">
    <div class="col-6 col-md-4 col-sm-12">
      <dl>
        <dt>Employer</dt><dd><%= position.employer %></dd>
        <dt>Title   </dt><dd><%= position.title %></dd>
        <dt>Status  </dt><dd><%= position.status.titleize %></dd>

        <% if position.location? %>
          <dt>Location</dt><dd><%= position.location %></dd>
        <% end %>

        <% if position.source? %>
          <dt>Source</dt><dd><%= position.source %></dd>
        <% end %>

        <% if position.url? %>
          <dt>URL</dt><dd><%= link_to(position.url, position.url) %></dd>
        <% end %>

        <dt>Contacts</dt>
        <dd><%= link_to('Contacts', [position, Contact]) %></dd>

        <% if position.events.any? %>
          <% cache position.events do %>
            <dt>Events</dt>
            <dd>
              <table class="table table-striped">
                <tbody>
                  <% position.events.order(event_on: :desc).each do |event| %>
                    <tr>
                      <td><%= link_to(event.description, [:edit, position, event]) %></td>
                      <td><%= event.event_on %></td>
                      <td>
                        <%= link_to([position, event], method: :delete) do %>
                          Remove <%= event.description %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </dd>
          <% end %>
        <% end %>
      </dl>
      <%= link_to('Edit', [:edit, position]) %> |
      <%= link_to('Delete', position, method: :delete) %> |
      <%= link_to('Add New Event', new_position_event_path(position)) %>
    </div>
  </div>
<% end %>
