<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <%= form_for [contact.position, contact], builder: BootstrapFormBuilder do |contact_form| %>
      <fieldset>
        <%= contact_form.text_field :name %>
        <%= contact_form.text_field :email %>
        <%= contact_form.text_field :phone %>
      </fieldset>
      <%= contact_form.submit %>
    <% end %>
  </div>
</div>
